%h1 Clinics
= form_tag clinics_path, method: :get, role: "search" do
  = text_field_tag 'q', params[:q], id: "srch-term", placeholder: "Search" 
  = submit_tag "Search"

- @clinics.each do |clinic|
  = link_to clinic.name, clinic_path(clinic)
  %br/
  %br/
 
= link_to "Home", root_path
= link_to "Add Clinic", new_clinic_path
