<%= @clinic.name %>
<br>
<%= @clinic.facility_type %>
<br>
<%= @clinic.address %>
<br>

<%= @clinic.city %>
<br>

<%= @clinic.state %>
<br>
<%= link_to "Edit", edit_clinic_path(@clinic) %>
	<%= link_to "Delete", clinic_path(@clinic), method: :delete %>
<br> 
<br>
<div>Affiliated Doctors</div>

<% @doctors.each do |doctor| %>
	<%= doctor.name %>
	<br>
<% end %>	
<br>
<br>

<%= link_to "Home", root_path %>
<%= link_to "Clinics", clinics_path %>

