= form_for @medication do |f|
  = f.label :name
  = f.text_field :name
  %br/
  = f.label :dosage
  = f.text_field :dosage
  %br/
  = f.label :directions
  = f.text_field :directions
  %br/
  = f.label :prescriber
  = f.text_field :prescriber
  %br/
  %br/
  = f.submit
