%h1 Meds
%br
= form_tag medications_path, method: :get, role: "search" do
  = text_field_tag 'q', params[:q], id: "srch-term", placeholder: "Search" 
  = submit_tag "Search"
%br
- @medications.each do |f|
  = f.name
  %br/
  = f.dosage
  %br/
  = f.directions
  %br/
  = f.prescriber
  %br/
  = link_to "Edit", edit_medication_path(f)
  = link_to "Delete", medication_path(f), method: :delete
  %br/
  %br/
= link_to "Home", root_path
= link_to "Add Medications", new_medication_path
