%div Patient Profile
%br/
= "First Name:"
= @patient.first_name
%br/
= "Last Name:"
= @patient.last_name
%br/
= "DOB:"
= @patient.date_of_birth
%br/
= "Description:"
= @patient.description
%br/
= "Gender:"
= @patient.gender
%br/
= "Blood Type:"
= @patient.blood_type
%br/
%br/
%br/
%div Patient's Doctor(s)
%br/
- @doctors.each do |doctor|
  = "Dr."
  = link_to doctor.name, doctor_path(@doctor)
  %br/
%br/
%br/
%div Patient's Medications
%br/
- @medications.each do |medication|
  = medication.name
  = medication.dosage
  %br/
%br/
%br/
= link_to "Home", root_path
= link_to "Edit Patient", edit_patient_path(@patient)
= link_to "Delete Patient", patient_path(@patient), method: :delete
