= form_for @doctor do |f|
  = f.label :name
  = f.text_field :name
  %br/
  = f.label :office_phone_number
  = f.text_field :office_phone_number
  %br/
  = f.label :specialty
  = f.text_field :specialty
  %br/
  %br/
  = f.submit
